body{
  cursor:auto;
}

@media(max-width:768px){

  body{
    cursor:auto;
  }

  .custom-cursor{
    display:none;
  }

}

@media (hover: none) and (pointer: coarse) { .custom-cursor { display: none !important; } }
