body{
  cursor:none;
}

.custom-cursor{
  width:18px;
  height:18px;
  border:1px solid rgba(255,255,255,.8);
  border-radius:999px;
  position:fixed;
  top:0;
  left:0;
  pointer-events:none;
  z-index:99999;
  transform:translate(-50%,-50%);
  transition:
  width .25s ease,
  height .25s ease,
  background .25s ease,
  transform .08s linear;
  mix-blend-mode:difference;
}

.custom-cursor.active{
  width:52px;
  height:52px;
  background:rgba(255,255,255,.12);
}

@media(max-width:768px){

  body{
    cursor:auto;
  }

  .custom-cursor{
    display:none;
  }

}
